@model Template.Areas.Identity.Data.Viewmodels.Courses.GolfCourseViewModel
<input asp-for="Id" hidden />

<div class="col-12 col-md-12">
    <h4 class="mb-0">User Details</h4>
    <hr class="mt-1" />
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Name">Name</label>
                <input class="form-control" asp-for="Name" placeholder="Enter Name">
                <span asp-validation-for="Name" class="text-danger"></span>
                <span asp-description-for="Name"></span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Phone">Phone Number</label>
                <input class="form-control" asp-for="Phone" placeholder="Enter user Phone Number">
                <span asp-validation-for="Phone" class="text-danger"></span>
                <span asp-description-for="Phone"></span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Website">Website</label>
                <input class="form-control" asp-for="Website" placeholder="Enter a Website">
                <span asp-validation-for="Website" class="text-danger"></span>
                <span asp-description-for="Website"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <label class="form-label" asp-for="Address">Address</label>
                <input class="form-control" asp-for="Address" placeholder="Enter Address">
                <span asp-validation-for="Address" class="text-danger"></span>
                <span asp-description-for="Address"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <label class="form-label" asp-for="City">City</label>
                <input class="form-control" asp-for="City" placeholder="Enter a City">
                <span asp-validation-for="City" class="text-danger"></span>
                <span asp-description-for="City"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <label class="form-label" asp-for="State">State</label>
                <input class="form-control" asp-for="State" placeholder="Enter State">
                <span asp-validation-for="State" class="text-danger"></span>
                <span asp-description-for="State"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <label class="form-label" asp-for="Zip">Zip</label>
                <input class="form-control" asp-for="Zip" placeholder="Enter Zip">
                <span asp-validation-for="Zip" class="text-danger"></span>
                <span asp-description-for="Zip"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <label class="form-label" asp-for="Country">Country</label>
                <input class="form-control" asp-for="Country" placeholder="Enter Country">
                <span asp-validation-for="Country" class="text-danger"></span>
                <span asp-description-for="Country"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="GreenGrass">Green Grass</label>
                <input class="form-control" asp-for="GreenGrass" placeholder="Enter a Green Grass">

                <span asp-description-for="GreenGrass"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="FairwayGrass">Fairway Grass</label>
                <input class="form-control" asp-for="FairwayGrass" placeholder="Enter Fairway Grass">

                <span asp-description-for="FairwayGrass"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="Holes">Holes</label>
                <input class="form-control" asp-for="Holes" placeholder="Enter number of Holes">
                <span asp-description-for="Holes"></span>
            </div>
        </div>
    </div>
    <hr />
    <h4>Course Tee Box Info</h4>
    <hr />
    @for (int i = 0; i < Model.TeeBoxes.Count; i++)
    {
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.TeeBoxes[i].Tee">Tee</label>
                    <input class="form-control" asp-for="@Model.TeeBoxes[i].Tee" placeholder="Tee name">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.TeeBoxes[i].Handicap">Course tee Handicap</label>
                    <input class="form-control" asp-for="@Model.TeeBoxes[i].Handicap" placeholder="Course handicap">
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="mb-3">
                    <label class="form-label" asp-for="@Model.TeeBoxes[i].Slope">Slope</label>
                    <input class="form-control" asp-for="@Model.TeeBoxes[i].Slope" placeholder="Slope">
                </div>
            </div>
        </div>
    }
</div>

<hr />
<h1>Scorecard</h1>
<div class="card card-default">
    <div class="card-body table-responsive">
        <table id="scoreCardTable" class="table table-condensed table-bordered">
            <tbody class="center">
                <!-- Hole -->
                <tr class="primary text-center" style="background: #4e8658">
                    <th class="text-left">Hole</th>
                    @for (int i = 0; i < 9; i++)
                    {
                        <td><input hidden asp-for="@Model.Scorecard[i].Hole" /> @Model.Scorecard[i].Hole</td>
                    }
                    <th class="text-left" style="background: #3b4d5e;">Out</th>
                    @for (int i = 9; i < 18; i++)
                    {
                        <td><input hidden asp-for="@Model.Scorecard[i].Hole" /> @Model.Scorecard[i].Hole</td>
                    }
                    <th class="text-left" style="background: #3b4d5e;">In</th>
                    <th class="text-uppercase">Total</th>
                </tr>
                <!-- Handicap -->
                <tr class="primary text-center">
                    <th class="text-left" style="background: #405644;">Hcp</th>
                    @for (var i = 0; i < Model.Scorecard.Take(9).Count(); i++)
                    {
                        <td><input asp-for="@Model.Scorecard[i].Handicap" class="form-control" style="width: 50px;" type="text" /></td>
                    }
                    <th class="text-left" style="background: #3b4d5e;"></th>
                    @for (var i = 0; i < Model.Scorecard.Skip(9).Take(9).Count(); i++)
                    {
                        <td><input asp-for="@Model.Scorecard[i].Handicap" class="form-control" style="width: 50px;" type="text" /></td>
                    }
                    <th class="text-left" style="background: #3b4d5e;"></th>
                    <th class="text-uppercase" style="background: #405644;"></th>
                </tr>
                <!-- Par -->
                <tr class="primary text-center">
                    <th class="text-left" style="background: #405644;">Par</th>
                    @for (var i = 0; i < Model.Scorecard.Take(9).Count(); i++)
                    {
                        <td><input asp-for="@Model.Scorecard[i].Par" class="form-control" style="width: 50px;" type="text" /></td>
                    }
                    <th class="text-left" style="background: #3b4d5e;">@Model.Scorecard.Take(9).Sum(item => item.Par ?? 0)</th>
                    @for (var i = 0; i < Model.Scorecard.Skip(9).Take(9).Count(); i++)
                    {
                        <td><input asp-for="@Model.Scorecard[i].Par" class="form-control" style="width: 50px;" type="text" /></td>
                    }
                    <th class="text-left" style="background: #3b4d5e;">@Model.Scorecard.Skip(9).Take(9).Sum(item => item.Par ?? 0)</th>
                    <th class="text-uppercase" style="background: #405644;"></th>
                </tr>

                <!-- Rows for tee colors and yards -->
                @foreach (var teeColor in Model.Scorecard.SelectMany(sc => sc.Tees.Keys).Distinct())
                {
                    <tr>
                        <td class="text-left" style="background: #405644;"><strong>@teeColor</strong></td>
                        @for (int i = 0; i < 9; i++)
                        {
                            var yards = Model.Scorecard[i].Tees.ContainsKey(teeColor) ? Model.Scorecard[i].Tees[teeColor].Yards.ToString() : "";
                            <td><input class="form-control" style="width: 50px;" type="text" asp-for="@Model.Scorecard[i].Tees[teeColor].Yards" value="@yards" /></td>
                            @*<input hidden asp-for="@Model.Scorecard[i].Tees[teeColor].Id" />
                            <input hidden asp-for="@Model.Scorecard[i].Tees[teeColor].PublicId" />*@

                        }
                        <td style="background: #3b4d5e;"><strong>@Model.Scorecard.Take(9).Sum(item => item.Tees.ContainsKey(teeColor) ? item.Tees[teeColor].Yards : 0)</strong></td>

                        @for (int i = 9; i < 18; i++)
                        {
                            var yards = Model.Scorecard[i].Tees.ContainsKey(teeColor) ? Model.Scorecard[i].Tees[teeColor].Yards.ToString() : "";
                            <td><input class="form-control" style="width: 50px;" type="text" asp-for="@Model.Scorecard[i].Tees[teeColor].Yards" value="@yards" /></td>
                            @*<input hidden asp-for="@Model.Scorecard[i].Tees[teeColor].Id" />
                            <input hidden asp-for="@Model.Scorecard[i].Tees[teeColor].PublicId" />*@
                        }
                        <td style="background: #3b4d5e;"><strong>@Model.Scorecard.Skip(9).Take(9).Sum(item => item.Tees.ContainsKey(teeColor) ? item.Tees[teeColor].Yards : 0)</strong></td>
                        <td style="background: #405644;"><strong>@Model.Scorecard.Sum(item => item.Tees.ContainsKey(teeColor) ? item.Tees[teeColor].Yards : 0)</strong></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

}
@section Styles{
    <link href="scorecardStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

}
