@model Template.Areas.Identity.Data.Viewmodels.Courses.GolfCourseViewModel
<input asp-for="Id" hidden />

<div class="col-12 col-md-12">
    <h4 class="mb-0">User Details</h4>
    <hr class="mt-1" />
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Name">Name</label>
                <input class="form-control" asp-for="Name" placeholder="Enter Name">
                <span asp-validation-for="Name" class="text-danger"></span>
                <span asp-description-for="Name"></span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Phone">Phone Number</label>
                <input class="form-control" asp-for="Phone" placeholder="Enter user Phone Number">
                <span asp-validation-for="Phone" class="text-danger"></span>
                <span asp-description-for="Phone"></span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="mb-3">
                <label class="form-label" asp-for="Website">Website</label>
                <input class="form-control" asp-for="Website" placeholder="Enter a Website">
                <span asp-validation-for="Website" class="text-danger"></span>
                <span asp-description-for="Website"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <label class="form-label" asp-for="Address">Address</label>
                <input class="form-control" asp-for="Address" placeholder="Enter Address">
                <span asp-validation-for="Address" class="text-danger"></span>
                <span asp-description-for="Address"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <label class="form-label" asp-for="City">City</label>
                <input class="form-control" asp-for="City" placeholder="Enter a City">
                <span asp-validation-for="City" class="text-danger"></span>
                <span asp-description-for="City"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <label class="form-label" asp-for="State">State</label>
                <input class="form-control" asp-for="State" placeholder="Enter State">
                <span asp-validation-for="State" class="text-danger"></span>
                <span asp-description-for="State"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <label class="form-label" asp-for="Zip">Zip</label>
                <input class="form-control" asp-for="Zip" placeholder="Enter Zip">
                <span asp-validation-for="Zip" class="text-danger"></span>
                <span asp-description-for="Zip"></span>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="mb-3">
                <label class="form-label" asp-for="Country">Country</label>
                <input class="form-control" asp-for="Country" placeholder="Enter Country">
                <span asp-validation-for="Country" class="text-danger"></span>
                <span asp-description-for="Country"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="GreenGrass">Green Grass</label>
                <input class="form-control" asp-for="GreenGrass" placeholder="Enter a Green Grass">

                <span asp-description-for="GreenGrass"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="FairwayGrass">Fairway Grass</label>
                <input class="form-control" asp-for="FairwayGrass" placeholder="Enter Fairway Grass">

                <span asp-description-for="FairwayGrass"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="form-label" asp-for="Holes">Holes</label>
                <input class="form-control" asp-for="Holes" placeholder="Enter number of Holes">
                <span asp-description-for="Holes"></span>
            </div>
        </div>
    </div>
</div>

<hr />
<div class="card card-default">
    <div class="card-body table-responsive">
        <table id="scoreCardTable" class="table table-condensed table-bordered">
            <tbody class="center">
                <tr class="primary text-center">
                    <th class="text-left">Hole</th>
                    @foreach (var scoreCardItem in Model.Scorecard.Take(9))
                    {
                        <td>@scoreCardItem.Hole</td>
                    }
                    <th class="text-left">Out</th>
                    @foreach (var scoreCardItem in Model.Scorecard.Skip(9).Take(9))
                    {
                        <td>@scoreCardItem.Hole</td>
                    }
                    <th class="text-left">In</th>
                </tr>
                <tr>
                    <th class="text-uppercase"><strong>Stroke</strong></th>
                    @foreach (var scoreCardItem in Model.Scorecard.Take(9))
                    {
                        <td>@scoreCardItem.Handicap</td>
                    }
                    <td><strong></strong></td>

                    @foreach (var scoreCardItem in Model.Scorecard.Skip(9).Take(9))
                    {
                        <td>@scoreCardItem.Handicap</td>
                    }

                    <td></td>
                    <th class="text-uppercase"></th>
                </tr>
                <tr>
                    <th class="text-uppercase"><strong>Par</strong></th>
                    @foreach (var scoreCardItem in Model.Scorecard.Take(9))
                    {
                        <td>@scoreCardItem.Par</td>
                    }
                    <td><strong>@Model.Scorecard.Take(9).Sum(item => item.Par)</strong></td>

                    @foreach (var scoreCardItem in Model.Scorecard.Skip(9).Take(9))
                    {
                        <td>@scoreCardItem.Par</td>
                    }

                    <td><strong>@Model.Scorecard.Skip(9).Take(9).Sum(item => item.Par)</strong></td>
                    <th class="text-uppercase">Total</th>
                </tr>

                <!-- Add other rows for Men's Handicap, Men's Par, Player 1, Women's Par, Women's Handicap here -->
            </tbody>
        </table>
    </div>
</div>
@*<div class="card card-default">
    <div class="card-body table-responsive">
        <table id="scoreCardTable" class="table table-condensed table-bordered">
            <tbody class="center">
                <tr class="success text-center">
                    <th class="text-left">Hole</th>
                    <td></td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <th class="text-uppercase"><strong>Out</strong></th>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <th class="text-uppercase">In</th>
                    <th class="text-uppercase">Total</th>
                </tr>
                <tr class="text-center">
                    <td class="text-left"><strong>White Tee</strong></td>
                    <td>480</td>
                    <td>150</td>
                    <td>359</td>
                    <td>320</td>
                    <td>348</td>
                    <td>380</td>
                    <td>337</td>
                    <td>187</td>
                    <td>323</td>
                    <td>2,884</td>
                    <td>337</td>
                    <td>291</td>
                    <td>166</td>
                    <td>309</td>
                    <td>136</td>
                    <td>518</td>
                    <td>348</td>
                    <td>383</td>
                    <td>459</td>
                    <td>3,147</td>
                    <td>6,031</td>
                </tr>
                <tr class="danger text-center">
                    <td class="text-left"><strong>Men's Handicap</strong></td>
                    <td>6</td>
                    <td>18</td>
                    <td>12</td>
                    <td>16</td>
                    <td>14</td>
                    <td>4</td>
                    <td>2</td>
                    <td>10</td>
                    <td>8</td>
                    <td></td>
                    <td>11</td>
                    <td>7</td>
                    <td>13</td>
                    <td>3</td>
                    <td>17</td>
                    <td>9</td>
                    <td>5</td>
                    <td>1</td>
                    <td>15</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="par" class="text-center" style="background-color: black; color: white;">
                    <td class="text-left"><strong>Men's Par</strong></td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>3</td>
                    <td>4</td>
                    <td>35</td>
                    <td>4</td>
                    <td>4</td>
                    <td>3</td>
                    <td>4</td>
                    <td>3</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>5</td>
                    <td>36</td>
                    <td>71</td>
                </tr>
                <tr class="score text-center">
                    <td class="text-left"><strong>Player 1</strong></td>
                    <td><input type="number" min="-3" max="8" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td id="out"></td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="8" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="7" /> </td>
                    <td><input type="number" min="-3" max="8" /> </td>
                    <td id="in"></td>
                    <td id="total"></td>
                </tr>
                <tr id="par" class="text-center" style="background-color: black; color: white;">
                    <td class="text-left"><strong>Women's Par</strong></td>
                    <td>5</td>
                    <td>3</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>3</td>
                    <td>4</td>
                    <td>35</td>
                    <td>4</td>
                    <td>4</td>
                    <td>3</td>
                    <td>5</td>
                    <td>3</td>
                    <td>5</td>
                    <td>4</td>
                    <td>5</td>
                    <td>5</td>
                    <td>38</td>
                    <td>73</td>
                </tr>
                <tr class="danger text-center">
                    <td class="text-left"><strong>Women's Handicap</strong></td>
                    <td>3</td>
                    <td>17</td>
                    <td>11</td>
                    <td>15</td>
                    <td>5</td>
                    <td>7</td>
                    <td>1</td>
                    <td>13</td>
                    <td>9</td>
                    <td></td>
                    <td>12</td>
                    <td>6</td>
                    <td>14</td>
                    <td>16</td>
                    <td>18</td>
                    <td>2</td>
                    <td>4</td>
                    <td>8</td>
                    <td>10</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>*@
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

}
@section Styles{
    <link href="scorecardStyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

}
